.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75vh;
  max-width: 100%;
  margin: 0;
  background-color: #f9f9f9;
  margin-top: 140px;
  justify-content: center;
}
.login-container {
  width: 300px;
}
.login-button {
  background-color: #e0ebdb;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.register-button {
  background-color: #e0ebdb;
  color: black;
}
.image-container {
  width: 300px;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
