main {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.group-info {
  background-color: #ffffff;
  margin-top: 158px;
  margin-left: 20px;
  padding: 20px;
  padding-left: 240px;
  border-radius: 3px;
  height: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-image: url('../../resources/images/meetup_detail_background.jpg') ;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 1;
}

.meet-member {
  color: white;
  margin-left: 50px;
  margin-top: 10px;
  z-index: 20;
}

.meet-date {
  display: flex;
  padding-right: 246px;
  font-size: 20px;
  font-weight: bold;
}

.meet-leader-img {
  background-color : #e6e8e6;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}

.group-details {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 108px;
  margin-left: 75px;
  z-index: 10;
}

.group-details img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.group-details h1 {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 0;
  color: white;
  font-weight: bold;

}

.meet-name {
  background-color: #66cda9;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
}

.group-details .badge {
  background-color: #6c757d;
  color: white;
  padding: 3px 8px;
  border-radius: 5px;
}

.post-section {
  flex: 2;
  margin-left: 20px;
}

.post-input {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  width: auto;
}

.post-input textarea {
  width: 95%;
  height: 100px;
  border: none;
  resize: none;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: #333;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.post-input button {
  padding: 10px 20px;
  background-color: #66cda9;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.posts {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.post {
  display: flex;
  margin-bottom: 15px;
}

.post-text {
  opacity: 0.5;
  margin-top: 5px;
}

.profile-group {
  display: flex;
}

.profile-photo {
  border-radius: 50%;
  background-color: #e6e8e6;
  width: 70px;
  height: 55px;
}

.profile-photo img {
  border-radius: 50%;
}

.profile-info {
  margin-top: 13px;
  margin-left: 15px;
  display: flex;
}

.profile-info .author{
  margin-right: 15px;
}

.profile-info .date{
  margin-top: 2px;
  opacity: 0.4;
}

.char-count {
  font-size: 12px;
  color: #aaa;
  margin-left: 10px;
}

.post-button:focus {
  outline: none;
}

.post-header {
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
}

.post-content p {
  font-size: 16px;
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination span {
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
}

aside {
  flex: 1;
  margin-left: 20px;
}

.schedule {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  cursor: pointer;
}

.schedule-header {
  display: flex;
  margin-bottom: 20px;
}

.schedule-header h2 {
  margin: 0;
}

.schedule-header a {
  padding: 5px 16px;
  background-color: #D3DED7;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.schedule-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 342px;
}

.schedule-list li {
  margin-bottom: 15px;
}

.schedule-list h3 {
  margin: 0 0 5px 0;
}

.meet-total-count {
  margin-left: 23px;
  margin-right: 60px;
}

.meet-font {
  color: black;
  opacity: 0.5;
}

.meet-day {
  margin-top: 5px;
}


.total-board {
  margin-right: 15px;
}

.total-board, .member-count, .meet-total-count, .meet-member-count {
  font-size: 17px;
}

.modal-header {
  border-bottom: none !important;
}

.modal-footer {
  border-top: none !important;
}

.meetup-profile {
  display: inline-block;
  border-radius: 50%;
  background-color: #e6e8e6;
  width: 70px;
  height: 55px;
  margin-right: 5px;
}

.btn-meetup {
  border-radius: 10px;
  color: black;
  border-color: #66cda9;
  background-color: #66cda9 !important;
}