body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
}

.section {
  margin-bottom: 30px;
}

.section-header {
  background-color: #a8d1a4;
  border-radius: 20px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 15px;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.2em;

}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.item:last-child {
  border-bottom: none;
}

.label {
  margin-left: 10px;
  font-size: 1em;
}

.label a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.label a:hover {
  color: #007bff;
}

.schedule {
  width: 100%;
  border-collapse: collapse;
}

.schedule tr {
  border-bottom: 1px solid #ccc;
}

.schedule td {
  padding: 10px;
  font-size: 0.9em;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttons a, .btn-delete {
  background-color: #a8d1a4;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 8px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: b;
}