<!-- footer start-->
<footer class="d-flex">
  <!-- Info -->
  <div class="footer-info">
    <div class="d-flex align-items-center mb-1">
      <img
        class="img-logo"
        src="/src/main/webapp/WEB-INF/views/images/logo.png"
        style="width: 80px; height: 80px"
        alt="logo"
      />
      <div class="ms-5">
        <ul class="list-unstyled">
          <li class="info-line">
            <span>PET KCC</span>
            <span>사업자등록: 312-13-412354</span>
            <span>주소: (03077) 서울특별시 종로구 창경궁로 254</span>
          </li>
          <li class="info-line">
            <span>대표: 홍길동</span>
            <span>통신판매업신고: 서울혜화-0123호</span>
            <span>TEL: 02-1234-1234 (이용자 발신자 부담)</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-links d-flex flex-row-reverse me-5 m-5">
    <a class="mx-2">개인정보처리방침</a>
    <span>|</span>
    <a class="mx-2">이용약관</a>
  </div>
</footer>
<!-- footer end -->
