body {
  padding-top: 170px;
}

header {
  background-color: #fff;
}

.main-btn {
  background-color: #58df3a;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 4px #666;
}

.main-btn:hover {
  background-color: #47d185;
}

.user-menu a {
  font-size: large;
}

.custom-card {
  border-radius: 20px;
  background-color: #56c0a9;
  color: black;
  margin-bottom: 20px;
}
.custom-button {
  background-color: green;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 5px 15px;
}
.custom-container {
  padding-top: 20px;
}
.search-bar {
  margin-bottom: 20px;
}
.search-bar input {
  height: 60px;
}
.search-bar .form-control {
  border-radius: 30px;
}
.search-bar .input-group-text {
  border: 0;
  background: none;
}
.page-indicator {
  text-align: center;
  margin-top: 20px;
}

#meetup {
  font-size: 50px;
}

/* card */
.event-card {
  background-color: #a8d5ba;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.event-title {
  font-size: 1.25em;
  color: #333;
}

.event-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.join-btn {
  background-color: #a7cba0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
}

.join-btn:hover {
  background-color: #3a4e35;
}

.cus_card-card {
  width: 30rem;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #daf7a6;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cus_card-title {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(118, 196, 141);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
  border-color: #000;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.cus_card-subtitle {
  padding-top: 20px;
  text-align: center;
}

.cus_card-text {
  text-align: center;
}

.cus_card-btn {
  background-color: #6ec772; /* 버튼의 기본 배경색 */
  color: white;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  transition: background-color 0.3s ease; /* 부드러운 색 변화 효과를 위해 */
}

.cus_card-btn:hover {
  background-color: #327022; /* 호버 상태일 때의 배경색 */
  color: white;
  font-weight: bold;
}

/* 페이지네이션 컨테이너 */
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

/* 모든 페이지네이션 항목 */
.pagination li {
  margin: 0 2px; /* 간격 조정 */
}

/* 페이지네이션 링크 */
.pagination a.page-link {
  border: none; /* 테두리 제거 */
  color: black; /* 텍스트 색상 */
  font-size: 22px; /* 폰트 크기 */
  background-color: transparent; /* 배경색 투명 */
}

/* 활성 페이지 스타일 */
.pagination .active a.page-link,
.pagination a.page-link:hover {
  background-color: transparent; /* 활성 및 호버 상태의 배경색 */
  color: rgb(74, 132, 199); /* 활성 및 호버 상태의 텍스트 색상 */
  font-weight: 900;
}
