.post-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 20%;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.text-container h2,
.text-container .post-date {
  margin: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.post-date {
  color: #666;
  font-size: 0.8em;
}

.post-body p {
  margin-bottom: 10px;
}

.post-footer button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.post-footer button:hover {
  background-color: #45a049;
}

.post {
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
}

.post h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.post p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.post ul {
  padding-left: 20px;
}

.post li {
  margin-bottom: 10px;
}

.post strong {
  color: #000;
}

.comment-title {
  font-size: 15px;
  font-weight: bold;
}

.form-control {
  border-radius: 30px;
}
