<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kcc.springmini.domain.common.mapper.FileMapper">
    <cache />

    <insert id="saveFile" parameterType="map">
        INSERT INTO FILES (FILE_ID, FILE_ORIGINAL_NAME, FILE_UUID_NAME, FILE_TYPE, MEET_UP_ID)
        VALUES (SEQ_FILE.NEXTVAL, #{fileOriginalName}, #{fileName}, #{type}, #{meetupId})
    </insert>

    <insert id="saveMemberFile" parameterType="map">
        INSERT INTO FILES (FILE_ID, FILE_ORIGINAL_NAME, FILE_UUID_NAME, FILE_TYPE, MEMBER_ID)
        VALUES (SEQ_FILE.NEXTVAL, #{fileOriginalName}, #{fileName}, #{type}, #{memberId})
    </insert>
</mapper>