<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kcc.springmini.domain.meetup.repository.mapper.MeetUpMapper">
    <cache />

    <select id="findAll" resultType="com.kcc.springmini.domain.meetup.model.vo.MeetUpVO">
        <![CDATA[
        select meet_up_id, title, person, category, intro
        from (
             select /*+INDEX_ASC(meetup PK_MeetUp) */ rownum rn,
                    meet_up_id, title, person, category, intro
             from meetup
             where rownum <= #{pageNum} * #{amount}
             )
        where rn > (#{pageNum} -1) * #{amount}
        ]]>
    </select>

    <select id="findByTitle">
        select meet_up_id, title, person, category, intro
        from
        (
            select /*+INDEX_ASC(meetup PK_MeetUp) */ rownum rn,
                meet_up_id, title, person, category, intro
            from meetup
            where
            <![CDATA[
            rownum <= #{cri.pageNum} * #{cri.amount}
            ]]>
        <if test="title != null and title != ''">
            and title like '%' || #{title} || '%'
        </if>
        )
        where
        <![CDATA[
            rn > (#{cri.pageNum} -1) * #{cri.amount}
        ]]>
    </select>

    <select id="getTotalCount" resultType="int">
        select count(*) from meetup
        <where>
            <if test="title != null and title != ''">
                and title like '%' || #{title} || '%'
            </if>
        </where>
    </select>

    <select id="getMemberTotal" resultType="int" parameterType="Long">
        SELECT COUNT(*) FROM BELONGMEMBER WHERE MEET_UP_ID = #{meetUpId}
    </select>

    <insert id="insertMeetup" parameterType="com.kcc.springmini.domain.meetup.model.dto.MeetUpRequestDto">
	   <selectKey keyProperty="createMeetupId" resultType="long" order="BEFORE">
            SELECT SEQ_MEETUP.NEXTVAL FROM DUAL
       </selectKey>
    	INSERT INTO MEETUP VALUES (#{createMeetupId}, #{title}, #{person}, #{category}, #{intro})
    </insert>

    <select id="isPass" parameterType="map" resultType="int">
        SELECT CASE
            WHEN COUNT(*) > 0 THEN 1
            ELSE 0
            END
        FROM BELONGMEMBER
        WHERE MEET_UP_ID = #{meetupId}
        AND MEMBER_ID = #{memberId}
    </select>

    <insert id="join">
        INSERT INTO BELONGMEMBER(MEET_UP_ID, MEMBER_ID, GRADE, JOIN_AT) VALUES (#{meetupId}, #{memberId}, #{grade}, sysdate)
    </insert>
    
    <insert id="insertQuestion">
    	INSERT INTO JOINQUESTION VALUES (#{meetupId}, SEQ_JOINQUESTION.NEXTVAL, #{content}, 'T')
    </insert>

    <select id="findById" resultType="MeetUpVO" parameterType="Long">
        SELECT MEET_UP_ID, TITLE, PERSON, CATEGORY, INTRO FROM MEETUP WHERE MEET_UP_ID = #{meetUpId}
    </select>
</mapper>