<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.springmini.domain.member.mapper.MemberMapper">

    <select id="findById" resultType="com.kcc.springmini.domain.member.model.vo.MemberVO">
        select member_id as memberId, username, password, nickname,
               email, gender, birthdate, tel, address, created_at, updated_at, isdelete
        from member
        where username = #{username}
        and isdelete = 'F'
    </select>

    <insert id="save">
        insert into member
        (member_id, username, password, nickname, email, gender, birthdate, tel, address, created_at, updated_at, isdelete)
        values (seq_member.nextval, #{username}, #{password}, #{nickname}, #{email}, #{gender}, #{birthdate}, #{tel}, #{address}, sysdate, sysdate, #{isdelete})
    </insert>

    <update id="update">
        update member set
            password = #{password},
            nickname = #{nickname},
            email = #{email},
            gender = #{gender},
            birthdate = #{birthdate},
            tel = #{tel},
            address = #{address},
            updated_at = SYSDATE
        where username = #{username}
    </update>

    <delete id="delete">
        update member set
            isdelete = 'T',
            updated_at = SYSDATE
        where username = #{username}
    </delete>

    <select id="getMeetupList" resultType="com.kcc.springmini.domain.meetup.model.vo.MeetUpVO">
        select MU.*
        from member M
        join belongmember B
            on m.member_id = b.member_id
        join meetup MU
            on b.meet_up_id = mu.meet_up_id
        WHERE m.username = #{username}
    </select>

    <select id="getScheduleList" resultType="com.kcc.springmini.domain.schedule.model.ScheduleVO">
        select
            MS.title as scheduleTitle,
            MS.appointment_time as scheduleTime
        from member M
        join belongmember B
            on M.member_id = B.member_id
        join meetupschedule MS
            on B.meet_up_id = MS.meet_up_id
        WHERE m.username = #{username}
    </select>
	
	<delete id="deletePendingMember">
		delete from answer where member_id = #{memberId} and meet_up_id = #{meetUpId}
	</delete>
</mapper>