<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kcc.springmini.domain.post.repository.mapper.PostMapper">
    <cache />

    <select id="findAll" resultMap="postResult">
        SELECT B.BOARD_ID, B.MEET_UP_ID, B.TITLE, B.CONTENT, M.NICKNAME, B.CREATED_AT, B.MEMBER_ID as b_member_id
        FROM BOARD B, MEMBER M
        WHERE b.member_id = m.member_id
          AND B.MEET_UP_ID = #{meetUpId}
    </select>

    <resultMap id="postResult" type="com.kcc.springmini.domain.post.model.vo.PostVO">
        <id property="postId" column="board_id"/>
        <result property="meetupId" column="meet_up_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <association property="member" column="b_member_id" resultMap="memberResult"/>
    </resultMap>

    <resultMap id="memberResult" type="com.kcc.springmini.domain.member.model.vo.MemberVO">
        <id property="nickname" column="nickname"/>
    </resultMap>

    
    <select id="findAllWithPaging" parameterType="Map" resultType="com.kcc.springmini.domain.post.model.vo.PostVO">
        <![CDATA[
        select BOARD_ID as postId, TITLE as title, CONTENT as content, NICKNAME as nickname, CREATED_AT AS createdAt
        from (
             select /*+LEADING(M B) INDEX_DESC(B PK_BOARD) */ rownum rn,
                    B.BOARD_ID, B.TITLE, B.CONTENT, M.NICKNAME, B.CREATED_AT, B.MEMBER_ID as b_member_id
             from member M, board B
             where m.member_id = b.member_id and b.meet_up_id = #{meetUpId, jdbcType=BIGINT}
             and rownum <= #{cri.pageNum, jdbcType=BIGINT} * #{cri.amount, jdbcType=BIGINT}
             )
        where rn > (#{cri.pageNum, jdbcType=BIGINT} -1) * #{cri.amount, jdbcType=BIGINT}
        ]]>
    </select>
    
    <select id="getTotalCount" resultType="int">
        select count(*) from board where meet_up_id = #{meetupId}
    </select>
    

    <select id="findById" resultMap="postResult">
        SELECT B.BOARD_ID, B.MEET_UP_ID, B.TITLE, B.CONTENT, B.CREATED_AT, B.MEMBER_ID as b_member_id
        FROM BOARD B, MEMBER M
        WHERE b.member_id = m.member_id
          AND B.BOARD_ID = #{postId}
    </select>

    <insert id="create">
        insert into board
        (board_id, meet_up_id, member_id, title, content, created_at, updated_at)
        values (seq_board.nextval, #{meetupId}, #{memberId}, #{title}, #{content}, SYSDATE, SYSDATE)
    </insert>
</mapper>