<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kcc.springmini.domain.post.repository.mapper.PostMapper">
    <cache />
    <resultMap id="postResult" type="com.kcc.springmini.domain.post.model.vo.PostVO">
        <id property="postId" column="board_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <association property="member" column="b_member_id" resultMap="memberResult"/>
    </resultMap>

    <resultMap id="memberResult" type="com.kcc.springmini.domain.member.model.vo.MemberVO">
        <id property="nickname" column="nickname"/>
    </resultMap>

    <select id="findAll" resultMap="postResult">
        SELECT B.BOARD_ID, B.TITLE, B.CONTENT, M.NICKNAME, B.CREATED_AT, B.MEMBER_ID as b_member_id
        FROM BOARD B, MEMBER M
        WHERE b.member_id = m.member_id
          AND B.MEET_UP_ID = #{meetUpId}
    </select>


<!--    <select id="findAllWithPaging" parameterType="map" resultMap="postResult">-->
<!--        SELECT-->
<!--            B.BOARD_ID,-->
<!--            B.TITLE,-->
<!--            B.CONTENT,-->
<!--            M.NICKNAME,-->
<!--            B.CREATED_AT,-->
<!--            B.MEMBER_ID as b_member_id-->
<!--        FROM-->
<!--            BOARD B-->
<!--                JOIN-->
<!--            MEMBER M ON B.MEMBER_ID = M.MEMBER_ID-->
<!--        WHERE-->
<!--            B.MEET_UP_ID = #{meetUpId}-->
<!--        ORDER BY-->
<!--            B.CREATED_AT DESC-->
<!--            LIMIT-->
<!--            #{pageSize}-->
<!--        OFFSET-->
<!--            #{offset}-->
<!--    </select>-->


</mapper>